<template>
  <form @submit.prevent>
    <!-- Отменяем дефолтную перезагрузку страницы по клику на кнопку -->
    <h1>Создание поста</h1>
    <input
      v-bind:value="post.title"
      @input="post.title = $event.target.value"
      class="input"
      type="text"
      placeholder="Название"
    /><br />
    <input
     v-bind:value="post.body"
      @input="post.body = $event.target.value"
      class="input"
      type="text"
      placeholder="Описание"
    /><br />
    <button class="btn" @click="createPost">Добавить пост</button>
  </form>
</template>

<script>
export default {
    data() {
        return {
            post:{
                title:'',
                body:''
            }
        }
    }
};
</script>

<style>
form {
  padding: 15px;
}
.input {
  margin: 0 0 15px;
  padding: 10px;
  width: 100%;
  border: 3px solid teal;
}
.btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}
</style>