<template>
  <div class="post" v-for="post in posts" :key="post.id">
    <div><b>Название : </b> {{ post.title }}</div>
    <div><b>Описание : </b> {{ post.body }}</div>
  </div>
</template>

<script>
export default {
    props:{
        posts:{
            type: Array,
            requared:true
        }
    }
};
</script>

<style scoped>
.post {
  margin: 15px;
  padding: 10px;
  border: 3px solid teal;
}
</style>