<template>
  <div class="app">
    <post-form/>
    <post-list :posts="posts"/>
  </div>
  
</template>

<script>
import PostForm from '@/components/PostForm'
import PostList from '@/components/PostList'
export default {
  components:{
    PostForm, 
    PostList
  },
  data() {
    return {
      posts: [
        { id: 1, title: "title1", body: "описание1" },
        { id: 2, title: "title2", body: "описание2" },
        { id: 3, title: "title3", body: "описание3" },
        { id: 4, title: "title4", body: "описание4" },
      ],
      title:'',
      body:''
    };
  },
  methods: {
    createPost(){
       const newPost = {
        id: Date.now(),
        title: this.title,
        body: this.body
      }
      this.posts.push(newPost);
      this.title = '',
      this.body = ''
    }
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


</style>
