<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
    <div id="app" class="container pt-5">
        <div class="card">
            <h1>{{ title }}: {{ counter }}</h1>
            <div>
                <button v-on:click="counter++" class="btn primary">+</button>
                <button v-on:click="counter--" class="btn danger">-</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>