<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
    <div id="app" class="container">
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input 
                    type="text"                     
                    v-bind:placeholder="placeholderString"
                    v-bind:value="inputValue"  
                    v-on:input="inputChangeHandler"
                />
            </div>
            <button v-on:click="addNewNote" class="btn">add</button>
            <hr>
            <ul class="list">
                <li v-for="note in notes" class="list-item">
                    {{ note }}
                </li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>